main, body {
  margin: 0px;
  background-color: #1f1f1f;

}

h2,
h3 {
  font-weight: 900;
  font-size: 20px;
  margin: 0px 0px 12px 0px;
  color: white;
}

.homeHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: rgba(32, 32, 32, 1);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(32, 32, 32, 1)),
    url(../images/HeaderBackground.png);

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 90%;
}
.homeHeader h1 {
  position: relative;
  font-size: 60px;
  color: white;
  font-weight: 700;
  position: relative;
  top: 45px;
}
.headerP {
  display: inline;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  white-space: wrap;
  width: 50%;
  position: relative;
  top: 100px;
}

.homeHeader a {
  height: 2vh;
  color: rgba(207, 152, 18, 1);
  position: relative;
  top: 400px;
  font-size: 24px;
}

.bioCaseContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(32, 32, 32, 1);
}
.bioCase {
  display: flex;
  flex-direction: row;
  background-color: rgba(32, 32, 32, 1);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 75vh;
  max-width: 877px;
}
.bioCase > a {
  text-decoration: none;
}

#firstCaseStudy {
  background-image: url("../images/yoga.jpg");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: auto;
  animation-duration: 3s;
  width: 420px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
#firstCaseStudy:hover {
  transform: scale(1.04);
}
#firstCaseStudy .project_name {
  font-size: 20px;
  width: 30vw;
  color: white;
  margin-left: 4px;
}

#firstCaseStudy .description {
  color: white;
  font-size: 12px;
  margin-right: 4px;
  width: 20vw;
}

#secondCaseStudy {
  background-image: url("../images/2nd\ box.png");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: auto;
  animation-duration: 3s;
  width: 420px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
#secondCaseStudy:hover {
  transform: scale(1.04);
}

#secondCaseStudy .project_name {
  font-size: 20px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#secondCaseStudy .description {
  font-size: 12px;
  color: white;
  margin-right: 4px;
  width: 20vw;
}

#thirdCaseStudy {
  background-image: url("../images/3rd\ box.png");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  animation-duration: 3s;
  width: 420px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
#thirdCaseStudy:hover {
  transform: scale(1.04);
}

#thirdCaseStudy .project_name {
  font-size: 20px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#thirdCaseStudy .description {
  font-size: 12px;
  color: white;
  margin-right: 4px;
  width: 20vw;
}
#fourthCaseStudy {
  background-image: url("../images/4th\ box.png");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 420px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
#fourthCaseStudy:hover {
  transform: scale(1.04);
}

#fourthCaseStudy .project_name {
  font-size: 20px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#fourthCaseStudy .description {
  font-size: 12px;
  color: white;
  margin-right: 4px;
  width: 20vw;
}

/* Footer */
footer {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  height: 400px;
}

#logoResume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px 50px 10px;
  height: 100px;
}

#logoResume img {
  width: 73.13px;
  height: 51px;
  margin-left: 55px;
  margin-top: 50px;
}

#resume {
  font-family: Roboto;
  text-decoration: none;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  color: #cf9812;
  font-size: 28px;
  height: 2vh;
  padding-top: 54px;
  padding-right: 50px;
}

#contactInfo {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 40px 20px 0px;
  color: white;
}
#contact a {
  text-decoration: none;
  color: #cf9812;
}

#social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  font-size: 28px;
  flex-wrap: wrap;
  padding: 5px 0px 0px 35px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.socialsBox {
  position: relative;
  top: 30px;
  right: 10px;
}

#social p {
  font-weight: bold;
  height: 0px;
  color: white;
}

.fab {
  margin: 10px;
  text-decoration: none;
  color: #cf9812;
}

/* Case Studies */
#section1_CS {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 24px;
  background-color: rgba(32,32,32,1);
}
#section1_CS img {
  width: 70% !important;
  align-self: center;
}

#section1_CS h1, p {
  text-align: center;
  color: white;
}

#liststudy2 li {
  list-style: disc;
}

#section1_CS h1 {
  text-align: center;
}
.picture_caption {
  margin-bottom: 32px;
  margin-top: 0px;
}
.cs_body_text {
  text-align: center;
  margin: 0px 242px 20px 242px;
  font-weight: 300 !important;
  font-size: 24px;
  color: white;
}
#cs1_body {
  font-family: "Lato", sans-serif !important;
}
#featureInfoCS {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
  height: 80px;
  margin-bottom: 18px;
}

.featurePlatform{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  padding: 5px 40px 20px 0px;
}

.featureRole{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  width: 50%;
  padding: 5px 0px 0px 35px;
}

#section2_CS {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 50px 0px;
  background-color: cadetblue;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #000000;
}

#section2_CS div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

#section2_CS ul li {
  list-style: disc;
  text-align: start;
}
#quotes {
  background-color: cadetblue;
  padding: 32px 0px 32px 0px;
  margin-bottom: 32px;
}
#section3_CS {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
  background-color: #1f1f1f;
}
#comparison {
  width: 80% !important;
}
#section3_CS ul li {
  list-style: disc;
}
h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 32px;
}
#reliable {
  width: 50% !important;
}
#motorbike {
  width: 50% !important;
}
#survey {
  width: 50% !important;
}
#postits {
  width: 70% !important;
}
#flowchart {
  width: 70% !important;
}
#persona {
  width: 70% !important;
}
#painpoints {
  width: 70% !important;
}
#impact {
  width: 80% !important;
  align-self: center;
}
#prototype {
  width: 60% !important;
}
#concept {
  width: 45% !important;
}
#hifi {
  width: 70% !important;
}
#finalbox {
  margin-left: 60px;
  padding-bottom: 200px;
}
#cs_main {
  box-sizing: border-box;
  width: 100%;
  font-size: 24px;
}
#cs_main img {
  width: 100%;
}

#section4_CS {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #000000;
}

#section5_CS {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  text-align: center;
  justify-content: space-evenly;
  background-color: #1f1f1f;
}

#section5_CS ul li {
  list-style: disc;
}
.bulletPoints {
  text-align: center;
  padding-left: 0px;
  list-style-position: inside;
  list-style-type: disc;
}

#section6_CS {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  text-align: center;
  justify-content: space-evenly;
  background-color: #000;
}

#section7_CS {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  text-align: center;
  justify-content: space-evenly;
  background-color: #1f1f1f;
}

#takeawaysCS ul li {
  list-style: disc;
  text-align: start;
  color: white;
}

#arrows {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#video-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.video {
  width: 100%;
  height: 100%;
}
#aboutmeBody {
  background-color: black;
}
#aboutme_header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;

  max-width: 984px;
  margin: auto;
  padding-top: 169px;
  padding-bottom: 111px;
}
#aboutme_header div {
  width: 505px;
}
#aboutme_header div h1 {
  font-size: 40px;
}
.aboutHeaderP {
  font-size: 20px;
}
.collage {
  max-width: 995px;
  margin: auto;
}
.collage :nth-child(1) {
  vertical-align: bottom;
  margin-right: 4px;
  padding-bottom: 8px;
}
.collage :nth-child(2) {
  vertical-align: top;

  margin-right: 4px;
}
.collage :nth-child(3) {
  vertical-align: bottom;
  padding-bottom: 8px;
}
.collage :nth-child(4) {
  vertical-align: top;

  margin-right: 4px;
}
.collage :nth-child(5) {
  vertical-align: top;
  position: relative;
  bottom: 265px;

  margin-right: 4px;
}
.collage :nth-child(6) {
  vertical-align: top;
}
.cs_body_textabout {
  font-size: 38px;
}
.finalP {
  max-width: 984px;
  margin: auto;
  position: relative;
  bottom: 150px;
  color: white;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #cf9812;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay {
  overflow-y: auto;
}
.overlay a {
  font-size: 40px;
}
.overlay .closebtn {
  font-size: 40px;
  top: 1px;
  right: 7px;
}

.nav-lines {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  color: #cf9812;
  top: 20px;
  right: 20px;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Arrows */
#arrow_header {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  background-color: #1f1f1f;
}

.arrow {
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid #cf9812;
  border-right: 1vmin solid #cf9812;
  box-shadow: 0 0 0 lightgray;
  transition: all 100ms ease;
}

.left {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.right {
  right: 0;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.right:hover {
  border-color: white;
  box-shadow: 0.5vmin -0.5vmin 0 #cf9812;
}

.left:hover {
  border-color: white;
  box-shadow: 0.5vmin -0.5vmin 0 #cf9812;
}
