h2,
h3 {
  font-weight: 900;
  font-size: 20px;
  margin: 0px 0px 12px 0px;
}

#index_body {
  background-color: black;
  margin: 0px;
}

.homeHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: rgba(32, 32, 32, 1);
  justify-content: space-around;
  align-items: center;
  background: url(../images/HeaderBackground.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  padding-left: 5px;
}

.homeHeader h1 {
  /* padding-top: 60px; */
  color: white;
  font-weight: bold;
  margin-top: 0px;
}
.headerP {
  display: inline;
  color: white;
  text-align: center;
  font-size: 10px;
  white-space: wrap;
  width: 75%;
  justify-content: flex-start;
  height: 10vh;

  padding-top: 80px;
}

.homeHeader a {
  height: 2vh;
  color: white;
  text-align: start;
  text-decoration: underline;
  padding-bottom: 20px;
}

.bioCase {
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 32, 32, 1);
  align-items: center;
  justify-content: space-between;
}
.bioCase > a {
  text-decoration: none;
}

#firstCaseStudy {
  background-image: url("../images/3rd\ box.png");
  background-size: cover;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
#firstCaseStudy:hover {
  transform: scale(1.04);
}

#firstCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#firstCaseStudy .description {
  color: white;
  font-size: 10px;
  margin-right: 4px;
}

#secondCaseStudy {
  background-image: url("../images/yoga.jpg");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
#secondCaseStudy:hover {
  transform: scale(1.04);
}

#secondCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#secondCaseStudy .description {
  font-size: 10px;
  color: white;
  margin-right: 4px;
}

#thirdCaseStudy {
  background-image: url("../images/4th\ box.png");

  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
#thirdCaseStudy:hover {
  transform: scale(1.04);
}

#thirdCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#thirdCaseStudy .description {
  font-size: 10px;
  color: white;
  margin-right: 4px;
}
#fourthCaseStudy {
  background-image: url("../images/2nd\ box.png");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#fourthCaseStudy:hover {
  transform: scale(1.04);
}

#fourthCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
  margin-left: 4px;
}

#fourthCaseStudy .description {
  font-size: 10px;
  margin-right: 4px;
  color: white;
}

footer {
  background-color: rgba(208, 208, 208, 1);
  display: flex;
  flex-direction: column;
}

#logoResume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px 50px 10px;
  border-bottom: 1px solid #282828;
}

#logoResume img {
  width: 39.68px;
  height: 25px;
}

#resume {
  font-family: Roboto;
  text-decoration: none;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 14px;
  height: 2vh;
}

#contactInfo {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

#contact {
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 7px;
  font-weight: bold;
  padding: 5px 0px 0px 30px;
}
#contact a {
  text-decoration: none;
  color: black;
}

#social {
  /* background-color: crimson; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50%;
  font-size: 7px;
  flex-wrap: wrap;
  padding: 5px 0px 0px 30px;
  border-left: 1px solid #282828;
}
.socialsBox :first-child {
  margin-left: 0;
}
#social p {
  font-weight: bold;
  height: 0px;
  width: 100%;
}
.fab {
  margin: 10px;
  text-decoration: none;
}

/* Case Studies */
#section1_CS {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 48px 0px;
}

#section1_CS h1 {
  text-align: center;
}

.cs_body_text {
  text-align: center;
  margin: 0px 72px 18px 72px;
  font-size: 14px;
  font-weight: 300;
}

.picture_caption {
  padding-bottom: 32px;
  margin: 0px;
  font-weight: 300;
  font-size: 12px;
}

#featureInfoCS {
  /* background-color: brown; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#section2_CS {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 48px 0px;
  background-color: cadetblue;
  text-align: center;
  justify-content: space-evenly;
}

#section2_CS div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

#section2_CS ul li {
  list-style-type: disc;
  text-align: start;
}

#section3_CS {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 48px 0px;
}
#section3_CS ul li {
  list-style-type: disc;
}

#cs_main img {
  width: 100%;
}

#section4_CS {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 48px 0px;
}

#section5_CS {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 48px 0px;
}

#section5_CS ul li {
  list-style-type: disc;
}

#section6_CS {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 48px 0px;
}

#section7_CS {
  display: flex;
  flex-flow: column wrap;
  padding: 48px 0px;
  text-align: center;
  justify-content: space-evenly;
}

#takeawaysCS ul li {
  list-style-type: disc;
  text-align: start;
}

#arrows {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#video-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.video {
  width: 100%;
  height: 100%;
}


/* Nav Bar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay {
  overflow-y: auto;
}
.overlay a {
  font-size: 40px;
}
.overlay .closebtn {
  font-size: 40px;
  top: 1px;
  right: 7px;
}

.nav-lines {
  font-size: 30px;
  cursor: pointer;
  /* position: fixed; */
  color: white;
  padding: 20px 10px;
}

/* .closebtn{
    position: absolute;
    left: 450px;
    top: -100px;
    color: red;
} */

.nav_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


/* Arrows */
.icon {
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.arrow {
  width: 90%;
  height: 10px;
  background-color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrow::after, .arrow::before {
  content: '';
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: black;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}