body {
  background-color: black;
  margin: 0px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 35vh;
  background-color: rgb(73, 73, 73);
  justify-content: space-around;
  align-items: center;
  background-position: center;
}

#logo {
  display: flex;
  justify-content: center;
}
.logo {
  margin-top: 2vh;
  width: 8vh;
}

header p {
  background-color: black;
  display: inline;
  color: white;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
}
header:nth-child(3) {
  justify-content: flex-end;
  align-items: center;
}
ul {
  background-color: blue;
  justify-content: center;
  display: flex;
  width: 3%;
  justify-content: flex-end;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li a {
  border: 0.1px solid #000000;
  padding: 0.4vh;
  background-color: black;
  color: white;
  text-align: center;
}
header li a:hover {
  background-color: #f4f4f4;
}

.bioCase {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  align-items: center;
  justify-content: space-between;
}

#firstCaseStudy {
  background-image: url("/images/yoga.jpg");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#firstCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
}

#firstCaseStudy .description {
  color: white;
  font-size: 10px;
}

#secondCaseStudy {
  background-image: url("/images/yoga.jpg");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#secondCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
}

#secondCaseStudy .description {
  font-size: 10px;
  color: white;
}

#thirdCaseStudy {
  background-image: url("/images/yoga.jpg");
  background-size: cover;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 3s;
  width: 90vw;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#thirdCaseStudy .project_name {
  font-size: 16px;
  width: 40vw;
  color: white;
}

#thirdCaseStudy .description {
  font-size: 10px;
  color: white;
}

footer {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
}

#logoResume {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  padding: 20px 15px 50px 10px;
  border-bottom: 1px solid #282828;
}

#logoResume img {
  width: 39.68px;
  height: 25px;
  background-color: #9d9d9d;
}

#resume {
  font-family: Roboto;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: black;
  background-color: gray;
  font-size: 14px;
  height: 2vh;
}

#contactInfo {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

#contact {
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 7px;
  padding: 5px 0px 0px 30px;
}

#social {
  /* background-color: crimson; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50%;
  font-size: 7px;
  flex-wrap: wrap;
  padding: 5px 0px 5px 30px;
  border-left: 1px solid #282828;
}
h4 {
  padding-right: 29vw;
  height: 0px;
}
.fab {
  margin: 10px;
  text-decoration: none;
}
